.fontppal {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.parallax {
  background-image: url(IMG/gavel-7499911_1920.jpg);
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* heres begging header */
.header__h1 {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.678);
}

.header__h1--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0px 0px 2px white;
  padding-top: 20px;
}

.header__h1--text a {
  text-decoration: none;
  color: #442E59;
  font-size: 30px;
  text-shadow: 0px 0px 6px #442E59;
}

.header__h1--text p {
  color: white;
  text-shadow: 0px 0px 2px white;
}

.header__a--modified h1 {
  font-size: 60px;
}

/* heres begging navbar */
.header__nav--modified {
  background-color: rgba(0, 0, 0, 0.678);
}

.navbar-toggler {
  color: white;
}

.active a {
  color: #442E59 !important;
  border-bottom: 2px solid #442E59;
  text-shadow: 2px 0px 2px #442E59;
}

.active a:hover {
  color: white !important;
}

.nav-item a {
  color: white;
  transition: all 0.2s;
}

.nav-item a:hover {
  background-color: #442E59;
}

.nav-link {
  cursor: default;
}

.row {
  margin: 0;
}

.container__1 {
  padding-top: 75px;
}

.text-left {
  padding: 30px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.678);
}

.text-left:hover {
  background-color: #442E59;
  color: black;
}

.container__1 .n-right {
  padding: 30px;
}

.img-right {
  background-image: url(IMG/aircraft-77971_1920.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}

.container__2 {
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.carousel__item--modified {
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.616);
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
  z-index: 1000;
  text-shadow: 0px 0px 6px grey;
}

.container__3 {
  height: auto;
  background-color: #000000;
  color: white;
  padding-bottom: 100px;
}

.container__3 h2 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.card {
  border-radius: 0;
  border: none;
}

.card img {
  height: 400px;
  margin: 0;
  padding: 0;
}

.container__3--bg {
  color: rgba(255, 255, 255, 0.158);
  cursor: default;
  padding-top: 100px;
}

.container__4 {
  height: auto;
  background-color: #000000;
  color: white;
  padding-bottom: 100px;
}

.container__4--map iframe {
  width: 100%;
}

.container__5 {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.container__5 h3 {
  color: white;
  padding: 40px;
}

.container__5 .card {
  justify-content: center;
  margin: 30px;
}

.card__modified {
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  height: auto;
  padding-top: 50px;
  padding-bottom: 40px;
}

.footer__container--modified {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 3px solid rgba(0, 0, 0, 0.678);
}

.footer__container--modified a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  padding: 5px;
}

.btn {
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
}

.btn:hover {
  background-color: #442E59;
  color: white;
}

input, textarea {
  background-color: rgba(0, 0, 0, 0.678) !important;
  border: black !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: #442E59;
}

.scroll-to-top i {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .container__1 .n-right {
    display: none;
  }
  .container__3 .container-fluid {
    background-color: black;
  }
  .container__3 .n-left {
    padding-bottom: 70px;
  }
  .footer__container--modified {
    border: none;
  }
}/*# sourceMappingURL=styles.css.map */